<div class="container">
  <div class="row main">
    <div class="main-login main-center">
      <h5>Sign up once and watch any of our free demos.</h5>
      <form [formGroup]="registerForm">
        <div class="form-group">
          <label for="username" class="cols-sm-2 control-label">Username</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-users fa" aria-hidden="true"></i>
              </span>
              <input type="text" class="form-control" formControlName="username"  id="username" placeholder="Enter your Username"/>
              
            </div>
            <!-- <span class="alert" *ngIf="!registerForm.controls['name'].valid && registerForm.controls['name'].touched">Validate Alpha with Space</span> -->
            <span class="alert" *ngIf="!registerForm.controls['username'].valid && registerForm.controls['username'].touched">
              Enter a valid username
            </span>
          </div>
        </div>


        <div class="form-group">
          <label for="email" class="cols-sm-2 control-label">Your Email</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-envelope fa" aria-hidden="true"></i>
              </span>
              <input type="text" class="form-control" formControlName="email" id="email" placeholder="Enter your Email"
              />
            </div>
            <span class="alert" *ngIf="!registerForm.controls['email'].valid && registerForm.controls['email'].touched">
              Enter a valid email address
            </span>
          </div>
        </div>

        <div class="form-group">
          <label for="password" class="cols-sm-2 control-label">Password</label>
          <div class="cols-sm-10">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-lock fa-lg" aria-hidden="true"></i>
              </span>
              <input type="password" class="form-control" formControlName="password" id="password" placeholder="Enter your Password"
              />
              
            </div>
            <span class="alert" *ngIf="!registerForm.controls['password'].valid && registerForm.controls['password'].touched">
              Your password must contain atleast 6 characters
            </span>
          </div>
        </div>
        <div class="form-group ">
          <!-- <a  type="button" id="button" [disabled]="!registerForm.valid" class="btn btn-primary btn-lg btn-block login-button" (click)="register(registerForm)">Register</a> -->
        <button type="button" *ngIf="!registerForm.valid" [disabled]="!registerForm.valid" class="btn btn-primary btn-lg btn-block login-button" (click)="register(registerForm)">Register</button>
        <button type="button"  *ngIf="registerForm.valid" class="btn btn-success btn-lg btn-block login-button" (click)="register(registerForm)">Register</button>
        </div>

      </form>
    </div>
  </div>
</div>